@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

@font-face {
  font-family: 'ChenYuLuoYan';
  src: url('@/assets/fonts/ChenYuluoyan-Thin.ttf') format("truetype"),
       url('@/assets/fonts/ChenYuluoyan-Thin.woff') format("woff"),
       url('@/assets/fonts/ChenYuluoyan-Thin.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChenYuLuoYan monospaced';
  src: url('@/assets/fonts/ChenYuluoyan-Thin-Monospaced.ttf') format('truetype'),
       url('@/assets/fonts/ChenYuluoyan-Thin-Monospaced.woff') format('woff'),
       url('@/assets/fonts/ChenYuluoyan-Thin-Monospaced.woff2') format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

.noto-serif{
    font-family: 'Noto Serif TC', serif;
}

.chenyuluoyan{
    font-family: 'ChenYuLuoYan', serif;
}

.chenyuluoyan-monospaced{
    font-family: 'ChenYuLuoYan monospaced', serif;
}